<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/css/StyleListados.css}" rel="stylesheet" />
<title>ListadoClientes</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Listado de Productos</h1>
		</div>
		<div class="row">
			<table class="table">
				<tr>
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Fecha de Entrada</th>
					<th>Precio</th>
				</tr>
				<tr th:each="producto : ${products}">
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.descripcion}"></td>
					<td th:text="${producto.fechaEntrada}"></td>
					<td th:text="${producto.precio}"></td>
					<td>
			<a href="#" th:href="@{/producto/editarProducto/{id}(id=${producto.id})}">Editar</a> | 
			<a href="#" th:href="@{/producto/borrar/producto/{id}(id=${producto.id})}">Borrar</a>
				</td>
				</tr>
			</table>
			<a href="#" th:href="@{/producto/nuevo/producto}">Añadir otro producto</a>
		</div>
		<div class="row">	
			<div th:if="${products.totalPages != 1}"
				class="form-group col-md-11 pagination-centered">
				<ul class="pagination">
					<!-- Si el número de página es cero, deshabilitamos el enlace -->
					<li th:class="${products.number == 0} ? disabled">
						<!-- Este enlace nos debe llevar a la primera página, con el tamaño de página actual -->
						<a class="pageLink"
						th:href="@{/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
					</li>
					<!-- Si el número de página es cero, deshabilitamos el enlace -->
					<li th:class="${products.number == 0} ? disabled">
						<!-- Este enlace nos debe llevar a la página anterior, con el tamaño de página actual -->						
						<a class="pageLink" th:href="@{/(pageSize=${selectedPageSize}, page=${products.number})}">&larr;</a>
					</li>
					<!-- Este bucle genera los enlaces para las demás páginas -->
					<li
						th:class="${products.number == (page - 1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="pageLink"
						th:href="@{/(pageSize=${selectedPageSize}, page=${page})}"
						th:text="${page}"></a>
					</li>
					<!-- Enlace a la siguiente página; si estamos en la última queda desabilitado  -->
					<li
						th:class="${products.number + 1 == products.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{/(pageSize=${selectedPageSize}, page=${products.number + 2})}">&rarr;</a>
					</li>
					<!-- Enlace a la última página; si estamos en la última queda desabilitado  -->				
					<li
						th:class="${products.number + 1 == products.totalPages} ? disabled">
						<a class="pageLink"
						th:href="@{/(pageSize=${selectedPageSize}, page=${products.totalPages})}">&raquo;</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/app.js}"></script>
</body>
</html>
			